$yellowS: rgb(255, 213, 0);

.container {
  padding: 2rem 2rem;
  height: 100vh;
}

.searchBar {
  // search bar
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  // responsive search bar
  @media (max-width: 768px) {
    flex-direction: column;
  }
  input {
    // search bar input
    background-color: black;
    color: $yellowS;
    width: 75%;
    padding: 0;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    &:focus {
      border: 1px solid black;
    }
  }
}